html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, firstSection, credits, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #043d5d;
  font-family: "futura-pt", Helvetica, sans-serif;
  color: #FFF;
  font-size: 100%;
  overflow-x: hidden;
}

body, html {
  height: 100%;
}

 ::-webkit-scrollbar {
  width: 15px;
}


/* this targets the default scrollbar (compulsory) */

 ::-webkit-scrollbar-track {
  background-color: #86919a;
}


/* the new scrollbar will have a flat appearance with the set background color */

 ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}


/* this will style the thumb, ignoring the track */

 ::-webkit-scrollbar-button {
  background-color: #8691CF;
}


/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

 ::-webkit-scrollbar-corner {
  background-color: black;
}


/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

h1, a, p {
  margin: 0;
  margin-top: 0.2em;
  width: 100%;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 4.250em;
  letter-spacing: 0.3em;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
}

h2 {
  width: 35%;
  font-weight: 600;
  font-size: 3.0em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

h2 > .subtitle {
  text-transform: none;
  letter-spacing: 0.05em;
  font-size: 0.7em;
  vertical-align: 8%;
}

#intro {
  font-size: 7.250em;
  letter-spacing: 0.175em;
}

a {
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 2.250em;
  line-height: 1.5em;
}

p, p a {
  width: 75%;
  max-width: 1000px;
  font-weight: normal;
  text-transform: none;
  font-size: 135%;
  letter-spacing: 0.2em;
  line-height: 2.1em;
  text-align: left;
  text-indent: 75px;
}

p a {
  font-size: 100%;
}

p a:hover {
  background-color: rgba(255, 252, 245, 0.3);
  padding-left: 3px;
  padding-top: 3px;
  border-radius: 5px;
}

b {
  font-size: 120%;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

.link, .downloadlink {
  display: inline-block;
  padding-left: 10px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #eb5055;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.downloadlink, .connect {
  -webkit-transition: all 0ms ease-in-out;
  -moz-transition: all 0ms ease-in-out;
  -ms-transition: all 0ms ease-in-out;
  -o-transition: all 0ms ease-in-out;
  transition: all 0ms ease-in-out;
}

.link:hover {
  text-decoration: none;
  -webkit-transform: translate3d(0, 5px, 0);
  -moz-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.animated {
  cursor: pointer;
  /*animation: name duration timing-function delay iteration-count direction;*/
  -webkit-animation: 2.5s ease-in-out 0s infinite;
  -moz-animation: 2.5s ease-in-out 0s infinite;
  -ms-animation: 2.5s ease-in-out 0s infinite;
  -o-animation: 2.5s ease-in-out 0s infinite;
  animation: 2.5s ease-in-out 0s infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -ms-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@keyframes bounce {
  0%, 36%, 76%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  56% {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

.downloadlink:hover {
  text-decoration: none;
  background-color: #55bd94;
}

#download {
  -webkit-transform: translate(0px, -60px);
  -moz-transform: translate(0px, -60px);
  -ms-transform: translate(0px, -60px);
  -o-transform: translate(0px, -60px);
  transform: translate(0px, -60px);
}

.semi {
  font-weight: bolder;
}

.content {
  display: table-cell;
  vertical-align: middle;
  margin: 0px auto;
  width: 100%;
}

.resources {
  display: table-footer-group;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  display: table;
  min-height: 600px;
  min-width: 800px;
  -webkit-transition: -webkit-transform .5s linear;
  -moz-transition: -moz-transform .5s linear;
  -ms-transition: -ms-transform .5s linear;
  -o-transition: -o-transform .5s linear;
  transition: .5s linear;
}

#aboutInfo {
  padding-top: 2em;
}

#cover {
  background-color: #b1e1ed;
}

#experience {
  position: absolute;
  background-color: #449bb5;
}

.experience {
  z-index: 3;
  position: absolute;
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
}

#allegient {
  background-color: #266093;
}

#ventures {
  background-color: #27313d;
}

#progressive {
  background-color: #0056B7;
}

.experience.go {
  transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
}

.experience.hide {
  transform: translateX(-100%) !important;
  -ms-transform: translateX(-100%) !important;
  -webkit-transform: translateX(-100%) !important;
  -moz-transform: translateX(-100%) !important;
  -o-transform: translateX(-100%) !important;
}

#about {
  background-color: #009688;
}

#resume {
  background-color: #6666FF;
  margin-top: -5px;
}

#resume.hide {
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

#background {
  z-index: -3;
}

.wrapper {
  position: absolute;
  padding-left: 15px;
  z-index: 1;
}

.thumbnails {
  display: inline-block;
  padding: 35px;
}

.custom-thumbnail {
  position: relative;
  width: 375px;
  height: 146px;
  padding-right: 75px;
  margin-top: 20px;
  padding-top: -20px;
}

.custom-thumbnail img {
  padding: 10px 10px 10px 10px;
  width: 375px;
  height: 146px;
  display: table;
  position: relative;
  background-color: #2b2b2b;
  z-index: 1;
  -webkit-transition: box-shadow 0.095s linear;
  -moz-transition: box-shadow 0.065s linear;
  -o-transition: box-shadow 0.065s linear;
  -ms-transition: box-shadow 0.065s linear;
  transition: box-shadow 0.065s linear;
}

.custom-thumbnail:hover img {
  margin: -10px;
  position: absolute;
  padding-top: -10px;
  z-index: 3;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
  -ms-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
  -o-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
}

.star {
  opacity: 0.85;
  z-index: -1;
  -webkit-animation: 14s ease-in-out 0s infinite;
  -moz-animation: 14s ease-in-out 0s infinite;
  -o-animation: 14s ease-in-out 0s infinite;
  -ms-animation: 14s ease-in-out 0s infinite;
  animation: 14s ease-in-out 0s infinite;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.moon {
  opacity: 1;
  z-index: -1;
  -webkit-animation: 200s ease-in-out 0s once forwards;
  -moz-animation: 200s ease-in-out 0s once forwards;
  -o-animation: 200s ease-in-out 0s once forwards;
  -ms-animation: 200s ease-in-out 0s once forwards;
  animation: 200s ease-in-out 0s once forwards;
}

#moon {
  -webkit-transform: translate(80%, 90%);
  -moz-transform: translate(80%, 90%);
  -o-transform: translate(80%, 90%);
  -ms-transform: translate(80%, 90%);
  transform: translate(80%, 90%);
}

#city {
  -webkit-transform: translate(0px, 4px);
  -moz-transform: translate(0px, 4px);
  -o-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
}

@keyframes goodNight {
  from {
    -moz-transform: rotate(180deg) scale(.6) translateX(380%) rotate(-180deg);
    -ms-transform: rotate(180deg) scale(.6) translateX(380%) rotate(-180deg);
    -o-transform: rotate(180deg) scale(.6) translateX(380%) rotate(-180deg);
    -webkit-transform: rotate(180deg) scale(.6) translateX(380%) rotate(-180deg);
    transform: rotate(180deg) scale(.6) translateX(380%) rotate(-180deg);
  }
  to {
    -moz-transform: rotate(255deg) scale(.4) translateX(370%) rotate(-255deg);
    -ms-transform: rotate(255deg) scale(.4) translateX(370%) rotate(-255deg);
    -o-transform: rotate(255deg) scale(.4) translateX(370%) rotate(-255deg);
    -webkit-transform: rotate(255deg) scale(.4) translateX(370%) rotate(-255deg);
    transform: rotate(255deg) scale(.4) translateX(370%) rotate(-255deg);
  }
}

@keyframes twinkle {
  0%, 34%, 84%, 100% {
    -ms-transform: scale(0.7) rotate(0deg);
    -moz-transform: scale(0.7) rotate(0deg);
    -o-transform: scale(0.7) rotate(0deg);
    -webkit-transform: scale(0.7) rotate(0deg);
    transform: scale(0.7) rotate(0deg);
  }
  17% {
    -ms-transform: scale(0.3) rotate(90deg);
    -moz-transform: scale(0.3) rotate(90deg);
    -o-transform: scale(0.3) rotate(90deg);
    -webkit-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }
  42% {
    -ms-transform: scale(0.75) rotate(40deg);
    -moz-transform: scale(0.75) rotate(40deg);
    -o-transform: scale(0.75) rotate(40deg);
    -webkit-transform: scale(0.75) rotate(40deg);
    transform: scale(0.75) rotate(40deg);
  }
  67% {
    -ms-transform: scale(0.9) rotate(-90deg);
    -moz-transform: scale(0.9) rotate(-90deg);
    -o-transform: scale(0.9) rotate(-90deg);
    -webkit-transform: scale(0.9) rotate(-90deg);
    transform: scale(0.9) rotate(-90deg);
  }
  92% {
    -ms-transform: scale(0.85) rotate(-40deg);
    -moz-transform: scale(0.85) rotate(-40deg);
    -o-transform: scale(0.85) rotate(-40deg);
    -webkit-transform: scale(0.85) rotate(-40deg);
    transform: scale(0.85) rotate(-40deg);
  }
}

.twinkle {
  -webkit-animation-name: twinkle;
  -moz-animation-name: twinkle;
  -o-animation-name: twinkle;
  animation-name: twinkle;
}

.moonAction {
  -webkit-animation-name: goodNight;
  -moz-animation-name: goodNight;
  -o-animation-name: goodNight;
  animation-name: goodNight;
}

.E {
  color: rgba(0, 0, 0, 0);
  display: inline;
  height: 0%;
  width: 0%;
  background: url(Images/E-normal.png) 27% 45% no-repeat;
  background-size: 62% 64%;
}

.E.accent {
  background: url(Images/E-accent.png) 26% 0% no-repeat;
  background-size: 62% 82%;
}
